.logo
{
width: 6.7vw;
}

h1
{
font-size: 1.80em;
}

h2
{
font-size: 1.55em;
}

/*Hébergement à Marseille*/

.accommodation
{
width: 57.5vw;
height: 850px;
}

.title-acco
{
font-size: 1.55em;
}

.room
{
width: 13vw;
height: auto;
}

.room img
{
width: 13vw;
height: auto;
}

/*room populaire*/

.popular
{
width: 33.3vw;
height: 890px;
}

.room_popular
{
width: 30vw;
height: 200px;
}

.room_popular img
{
width: 189px;
height: 200px;
}

/*activite*/

#activites
{
margin-top: 250px;
}

.activity
{
height: auto;
}

.column1, .column2
{
margin-left: 0%;
height: auto;
}

.activ-tall, .activ
{
width: 20vw;
height: auto;
}

.activ img
{
max-height: 180px;
max-width: ;
}

.activ-tall img, .activ img
{
width: 20vw;
height: auto;
}

/*footer*/

.end
{
justify-content: space-around;
}