/*titre*/

h1
{
width: 1000px;
font-size: 70px;
margin-left: 80px;
}

/*navigation*/

.menu-nav
{
margin-left: 60px;
}

/*recherche*/

.search
{
margin-top: 15px;
}

/*Populaires*/

.title-popu
{
margin-left: -100px;
}
.room_popular
{
margin-left: 100px;
}

/*hébergements*/
#hebergements
{
margin-left: 250px;
}

.more
{
margin-left: 50px;
}

/*Activités*/

#activites
{
margin-left: 230px;
}

.activity
{
margin-left: 150px;
}